@charset "UTF-8";
*{margin: 0; padding: 0; 
box-sizing: border-box;}
.container{
    border: 2px solid #000;
    background-color: green;
   
}
.container .item{
    border: 2px solid #000;
    background-color: yellow;
}

.container{
  display: flex;
}
.container .item:nth-child(1){
    width: 200px;
    flex-shrink: 0;
}

.container .item:nth-child(2){
    flex-grow: 1;
}